/* reset.css */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles (bullets and numbering) */
ul,
ol {
    padding: 0;
    list-style: none;
}

/* Remove default padding */
blockquote,
figure,
p {
    padding: 0;
}

/* Set default font size and line height */
body {
    font-size: 16px;
    line-height: 1.5;
}

/* Remove hyperlink styles */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove underlines from links */
a {
    text-decoration: none;
}