ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    align-content: center;
    justify-content: space-around;
    row-gap: 30px; /* espaço entre as linhas */
}

/* terminar inserir (li e os demais dd dl que quiser...) e estilizar na ordem de aparição que escolhemos no view/terminal */

.someFeatures {
    color: #79e72f;
}

.image__card {
    max-width: 400px; /* responsividade, se ajusta ao contâiner. TESTAR NO CELULAR PRA VER SE FICOU SHOW */
    height: 300px;
  }

.container__card {
    background-color: yellow;
    max-width: 400px;
}