/* estilos 

Paleta de cores:
.color1 { #0ca5b0 };
.color2 { #4e3f30 };
.color3 { #fefeeb };
.color4 { #f8f4e4 };
.color5 { #a5b3aa };

/* Estilização para celulares */


/* Estilização para tablets */
@media (min-width: 768px) and (max-width: 1024px) {}

/* Estilização para computadores */


/* Orientação paisagem */
@media(orientation: landscape) {}

/* Orientação retrato */
@media(orientation:portrait) {}

/* Configurações Gerais */

* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    /*não está funcionando no a do h1*/
}

body {
    font-size: 100%;
    background: #f8f4e4;
}

/* Título */
/* Problemas:
1) Não consigo centralizar o título
2) Não consigo tirar o text-decoration
3) Não consigo ser feliz :'(
*/

header {
    /*não estou conseguindo centralizar*/
    max-width: 90vw;
    max-height: 15vh;
    width: 80%;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    /* Remove o sublinhado */
    color: inherit;
    /* Mantém a cor padrão do texto */
}

h1 {
    padding: 0.9rem;
    color: #4e3f30;
}

a #titulo {
    text-decoration: none;
    text-decoration-color: none;
}

/* Filtro, organização e botão "Limpar" */

nav {
    /* entender porque foi colocado */
    display: flex;
    gap: 1.25rem;
    font-size: 1rem;
}

#search-section {
    /* pesquisar como desgrudar a "org-section" e a "filter-section" */
    margin: 1.25rem;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    cursor: pointer;
    text-align: justify;
    font-size: 15px;
    color: #4e3f30;
    border-radius: 1.5rem;
}

select {
    width: 5rem;
    border-radius: 10px;
    padding: 0.3rem;
    size-adjust: auto;
    text-align: center;
    /* não funciona */
}

#clear-button {
    margin-left: 1.25rem;
    border-radius: 1.5rem;
    border-color: #fefeeb;
    background-color: #fff;
    font-size: 15px;
    color: #4e3f30;
    padding: 0.06rem 0.8rem;
}

#clear-button:hover {
    color: #fff;
    background-color: #a5b3aa;
}

/* Cards */

#flex-container {
    margin-top: 70px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    align-content: center;
    justify-content: space-around;
    row-gap: 30px;
    /* espaço entre as linhas */
}

.container__card {
    margin: 0;
    width: 25.5rem;
    height: 475px;
    box-shadow: 1.25rem 1.25rem 2.5rem rgba(0, 0, 0, 0.5);
    border-top: 0.063rem solid #fff;
    border-left: 0.063rem solid #fff;
    box-sizing: border-box;
    background-color: #fefeeb;
    border-radius: 0.5rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    /*//// FAZENDO TESTES NESSA LINHA */
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    transform: translateY(20px);
    transition: 0.5s;
    margin-bottom: 50px;
}

.container__card:hover {
    transform: translateY(0px);
    opacity: 1;
}

.image__card {
    width: 100%;
    max-width: 400px;
    /* responsividade, se ajusta ao contâiner. TESTAR NO CELULAR PRA VER SE FICOU SHOW */
    height: 300px;
    padding: 0;
    margin: 2px;
    object-fit: cover;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    padding: 1px;
    color: #4e3f30;
    pointer-events: none;
    z-index: 1;
    text-align: center;
}

.someFeatures,
.itineraryType,
.estimatedValue {
    margin: 5px;
    text-align: left;
    align-self: center;
    z-index: 1;
}

.btn-verMais {
    margin: auto;
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5rem;
    border-color: #fefeeb;
    background-color: #fff;
    font-size: 15px;
    font-weight: bolder;
    color: #4e3f30;
}

.btn-verMais:hover {
    color: #fff;
    background-color: #a5b3aa;
}

/* terminar inserir (li e os demais dd dl que quiser...) 
e estilizar na ordem de aparição que escolhemos no view/terminal 
----> verificar se está de acordo*/

/* Footer */

footer {
    background: #a5b3aa;
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    z-index: 1;
}

p {
    font-weight: 600;

}

/*pesquisar como add display none para mostrar card com as informações a partir do click em ver + */
/* Adicionar ícones para LinkedIn e Github de cada estudante */